.profileBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
  min-height: 80px;
  background: var(--light-primary);
  border-radius: 20px;
  padding: 5px 20px 5px 30px;

  &__leftBox {
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__buttonProfile {
    border: 1px solid var(--border-primary);

    &:hover {
      background: var(--blue-thirdary);
    }
  }

  &__buttonAbout {
    background: var(--orange-primary);
    color: var(--light-primary);

    &:hover {
      background: var(--blue-secondary);
    }
  }
}
