.exportBar {
  display: flex;
  align-items: center;
  gap: 10px;

  &__buttonSubmit {
    background: var(--blue-primary);
    color: var(--light-primary);

    &:hover {
      background: var(--blue-secondary);
    }
  }

  &__buttonExport {
    background: var(--dark-secondary);
    color: var(--light-primary);

    &:hover {
      background: var(--blue-secondary);
    }
  }
}