.exportBar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  &__buttonSubmit {
    background: var(--blue-primary);
    color: var(--light-primary);
    border: 1px solid transparent;

    &:hover {
      background: var(--blue-secondary);
    }
  }

  &__buttonExport {
    background: var(--dark-secondary);
    color: var(--light-primary);

    &:hover {
      background: var(--blue-secondary);
    }
  }

  &__disabled {
    background: var(--blue-thirdary);
    color: var(--blue-secondary);
    border: 1px solid var(--border-thirdary);
  }
}
