.totalBar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 'title title title quantity price';
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: var(--bg-primary);
  border-radius: 10px;
  padding: 10px;

  &__title {
    grid-area: title;
    font: var(--font-xs-bold);
  }

  &__number {
    font: var(--font-xs-bold);
    color: var(--blue-primary);
    padding-left: 12px;

    &_quantity {
      grid-area: quantity;
    }

    &_price {
      grid-area: price;
    }
  }
}
